{%include "navbar.html"%}
<link rel="stylesheet" href="/media/css/style.css" type="text/css"/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<h2>List of Users</h2>
<table border="1" width="1000px">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td><a href="{% url 'get_user_by_id' user.UserID %}">{{ user.UserID }}</a></td>
        <td><a href="{% url 'get_user_by_id' user.UserID %}">{{ user.Name }}</a></td>
        
        
      </tr>
    {% endfor %}
  </tbody>
</table>

{%include "footer.html"%}
