
{%include "navbar.html"%}
<link rel="stylesheet" href="/media/css/style.css" type="text/css"/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<h2>{{ book.Title }} </h2>
<p>ISBN: {{ book.ISBN }}</p>
<p>Published Date: {{ book.PublishedDate }}</p>
<p>Genre: {{ book.Genre }}</p>



{% if book.bookdetails %}
    
    <p>Number of Pages: {{ book.bookdetails.NumberOfPages }}</p>
    <p>Publisher: {{ book.bookdetails.Publisher }}</p>
    <p>Language: {{ book.bookdetails.Language }}</p>
  {% else %}
    <p>Book details not available</p>
  {% endif %}

  <a href="{% url 'assign_update_book_details' book.BookID %}">Assign/Update Details</a>
{%include "footer.html"%}




