
{%include 'navbar.html'%}
<link rel="stylesheet" href="/media/css/style.css" type="text/css"/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<title>Borrow Book</title>


</head>
<body>

    <div class="container mt-4">
        <h2 class="mb-4">Borrow Book</h2>

        {% if no_books_available %}
      <p class="alert alert-warning">No books available for borrowing at the moment. Please check after books are Returned.</p>
    {% else %}
        <form method="post" action="{% url 'borrow_book' %}" class="col-md-6">
          {% csrf_token %}
    
          <div class="form-group">
            <label for="user">Select User:</label>
            <select name="user_id" id="user" class="form-control">
              {% for user in users %}
                <option value="{{ user.UserID }}">{{ user.Name }}</option>
              {% endfor %}
            </select>
          </div>
    
          <div class="form-group">
            <label for="book">Select Book:</label>
            <select name="book_id" id="book" class="form-control">
              {% for book in available_books %}
                <option value="{{ book.BookID }}">{{ book.Title }}</option>
              {% endfor %}
            </select>
          </div>
    
          <div class="form-group">
            <label for="return_date">Return Date:</label>
            <input type="date" name="return_date" id="return_date" value="{{ borrow_date }}" class="form-control" required>
          </div>
    
          <button type="submit" class="btn btn-primary">Issue Book</button>
        </form>
        {% endif %}
      </div>

{% if messages %}
        {% for message in messages %}
            <p style="color: green;">{{ message }}</p>
        {% endfor %}
    {% endif %}
{%include "footer.html"%}
